{% extends "layouts/base.html"%}

{% block title %}
    {% if post.title|length > 0 %}
       Edit {{post.title}} post
    {% else %}
        New post
    {% endif %}
{% endblock %}

{% block content %}


        {% if post.title|length > 0 %}
            <h1>Edit {{post.title}} post</h1>
        {% else %}
            <h1>New post</h1>
        {% endif %}


        <form action="{{ url_for('posts.post_edit', post_id=post.post_id) }}" method="POST">
            <input type="hidden" name="button_type" value="save">

            <label>Title</label>
            <input type="text" name="post_title" value="{{post.title}}" />

            <label>Body</label>
            <textarea name="post_body">{{post.body}}</textarea>

            <label>Url slug</label>
            <input type="text" name="url_slug" value="{{post.url_slug}}" />

            <label>Page parent</label>
            <select name="parent_post_id">
                {% for item in post_parent_id_and_title %}
                    <option value="{{ item[0] }}" {% if post.parent_post_id == item[0] %}selected{% endif %} >{{ item[1] }}</option>
                {% endfor %}
            </select>

            <label>Tags</label>
            <div class="tags">
            {% for tag in tags %}
                <div class="tag_pair">
                    <input type="checkbox" name="tags[]" value="{{ tag.tag_id }}"
                    {% if tag.tag_id in post_tags_ids %}
                        checked
                    {% endif %}
                    >
                    <span >{{ tag.label }}</span>
                </div>
            {% endfor %}
                <div class="tag_pair"></div>
            </div>

            <input type="submit" value="Save" />
        </form>
        <form action="{{ url_for('posts.post_edit', post_id=post.post_id) }}" method="POST">
            <input type="hidden" name="button_type" value="delete">
            <input type="submit" value="Delete" />
        </form>

{% endblock %}